@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
}

#root{
  padding: 0px;
  margin: 0px;
  top: 0px;
  left: 0px;
  right: 0px;
  position: absolute;
}